/*
 * skt.proxy.css
 * 代理で入力スタイル
 */

.skt-proxy-title,  .skt-proxy-main
 {
   position: absolute;
 }

.skt-proxy-title {
   top    : 10px;
   left   :10px;
   font-size: 20px;
 }

 .skt-proxy-main {
   top : 70px;
   left: 10px;
   background : #DFC0E0;
   border-collapse:collapse;
 }

 .skt-proxy-main tr, .skt-proxy-main td{
   font-size: 20px;
   border : 1px solid black;
 }
