/*
 * skt.kojinkekkakakunin.css
 * 個人の欠課確認モジュール
 */

.skt-kojinkekkakakunin-gakunen-title, .skt-kojinkekkakakunin-gakunen,
.skt-kojinkekkakakunin-cls-title,     .skt-kojinkekkakakunin-cls,
.skt-kojinkekkakakunin-members-title, .skt-kojinkekkakakunin-members,
.skt-kojinkekkakakunin-show,          .skt-kojinkekkakakunin-main,
.skt-kojinkekkakakunin-notice
 {
   position : absolute;
 }

 .skt-kojinkekkakakunin-gakunen-title, .skt-kojinkekkakakunin-gakunen,
 .skt-kojinkekkakakunin-cls-title,     .skt-kojinkekkakakunin-cls,
 .skt-kojinkekkakakunin-members-title, .skt-kojinkekkakakunin-members
{
  font-size: 20px;
}

.skt-kojinkekkakakunin-gakunen-title {
  top  : 10px;
  left : 10px;
}

.skt-kojinkekkakakunin-gakunen {
  top  : 10px;
  left : 60px;
}

.skt-kojinkekkakakunin-cls-title {
  top  : 10px;
  left : 180px;
}

.skt-kojinkekkakakunin-cls {
  top  : 10px;
  left : 210px;
}

.skt-kojinkekkakakunin-members-title {
  top  : 10px;
  left : 300px;
}

.skt-kojinkekkakakunin-members {
  top  : 10px;
  left : 350px;
}

.skt-kojinkekkakakunin-show {
  top  : 60px;
  left : 50px;
  /* font-size: 50px; */
  font-size: 25px;
  width: 130px;
  border-radius: 8px;
  background-color: #E6E6FA;
  cursor: pointer;
}
.skt-kojinkekkakakunin-insert:hover{
  background-color: red;
}

.skt-kojinkekkakakunin-notice {
  top : 120px;
  left: 10px;
}

.skt-kojinkekkakakunin-main {
  top : 150px;
  left: 10px;
  background : #DFC0E0;
  border-collapse:collapse;
}
